/.idea
/ajcore.20200927.094236.361.txt
/ajcore.20200927.094355.171.txt
/ajcore.20200927.094613.500.txt
/.mp4
/How To Generate Allure Reports in Selenium & TestNG.lnk
/target
/test-output
/first_appium_test.iml
/allure-results
/allure-report