<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="mobile app automation">
        <classes>
            <class name="login.LoginTests">
                <methods>
                    <include name="verifySuccessfulLogin"/>
                </methods>
            </class>
            <class name="homepage.HomePageTest">
                <methods>
                    <include name="verifyLandingPageName"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>